.card{
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;
    position: relative;
}

.front{
    width: 350px;
    height: 200px;
    border: 1px solid;
    z-index: 2;
    background-color: gainsboro;
    grid-column: 1 / 3;
    position: absolute;
}

.back{
    width: 350px;
    height: 200px;
    border: 1px solid;
    z-index: 1;
    background-color: gainsboro;
    grid-column: 2 / 4;
    transform: translateY(40px);
    position: relative;
}

.back label{
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.back label input{
    width: 60px;
    font-size: 1.1em;
}