@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }

body{
    justify-items: center;
}

header{
    margin-bottom: 20px;
    padding-bottom: 20px;  
    font-family: var(--secondary-font);
    font-size: 2em;
    align-items: end;
    padding-top: 20px;
}

header h1{
    margin: 0;
    align-self: end;
    display: inline;
}

img {
	max-width: 100%;
}

header img{
    height: 80px;
    align-self: center;
}

.search{
    display: flex;
    font-family: var(--primary-font);
    justify-content: center;
    margin-bottom: 10px;
}

form{
    padding-bottom: 15px;
}

form input{
    flex-grow: 1;
}

.search button img{
    height: 15px;
}

#recipe img{
    height: 300px;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 0px;
}

#recipe{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.description p{
    display: none;
}

#recipe h3{
    border: black solid 1px;
    margin-bottom: 0px;
    width: 150px;
    text-align: center;
}

#recipe h2{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 0;
    text-align: left;
}

#recipe p{
    text-align: left;
}

#recipe, .rating{
    align-items: flex-start;
    text-align: left;
}

.rating-display .star {
  margin-right: 2px;
}

.rating-display .star.filled {
  color: gold;
}

.rating-display .star.empty {
  color: #ccc; 
}

.social{
    display: flex;
    justify-content: center;
}

.social img {
    height: 50px; 
    width: 100;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 5px;
}

@media(min-width: 600px) {
    #recipe{
        flex-direction: row;
    }

    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .description p{
    display: block;
}
}

@media(min-width: 960px){
    body{
        max-width: 960px;
        margin: 0 auto;
    }
}