@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
}

h1, h2, h3 {
    font-family: 'Mooli', sans-serif;
}


.hide {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    
}


.nav a {
    color: white;
    text-decoration: none;
    display: block; /* Make links easier to tap on mobile */
    padding: 0.5em; 
}

.nav a:hover {
    color: grey;
    text-decoration: underline;
}

.nav a:visited {
    color: black; 
    text-decoration: none;
}


.menu-button {
    background-color: #52489c;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: none;
    font: inherit;
    font-size: 1em; 
    cursor: pointer;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    width: 100%; 
    background-color: var(--primary-color); 
}

.menu li {
    text-align: center; 
    border-top: 1px solid rgba(255,255,255,0.2); 
}
.menu li:first-child {
    border-top: none;
}


header {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 10px 10px 0; 
    width: 100%;
    box-sizing: border-box; 
}
header h1 {
    font-size: 3rem;
    margin: 0 0 0.2em 0; 
}


.nav h2 {
    margin:0; 
}

main h2 {
    font-size: 1.3rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2px;
    gap: 15px; /
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 4px solid white;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.9);
}

footer {
    background-color: var(--primary-color);
    width: 100%;
    color: var(--text-light);
    box-sizing: border-box;
}

footer p {
    padding: 10px;
    margin: 0;
    text-align: center;
}

main {
    padding: 10px;
    box-sizing: border-box;
}

body.model-open{
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.modal-content { 
    display: block;    
    height: auto;      
    width: 100%;
    margin: 0 auto;
}

.modal-image-wrapper {
    position: relative;
    display: block;   
    max-width: 700px;  
    width: 90%; 
    margin: 0 auto; 
    top: 10vh;
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.close-button {
    position: absolute;
    top: 10px;      
    right: 10px;           
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 15;      
    cursor: pointer;  
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gallery img {
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    opacity: 0.7;
}

@media screen and (min-width: 700px) {
    
    .nav h2, 
    .menu-button {
        display: none;
    }

    
    .menu {
        display: flex !important; 
        flex-direction: row;
        justify-content: space-around; 
        max-width: 750px; 
        margin: 0 auto; 
        background-color: transparent; 
    }
    .menu li {
        border-top: none; 
    }
    .menu a {
        padding: 0.5em 1em; 
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}