:root {
    --page-color: #F3E8EE;
    --primary-color: #9E0031;
    --secondary-color: #02020B;
    --accent: #F9DC5C;
}

.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:1.5em;
    font-family: "American Typewriter", serif;
    color: var(--secondary-color);
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    margin-bottom: 50px;

}

nav{
    color: var(--primary-color);
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--primary-color);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.25em;

}

body {
    font-family: "Bradley Hand", cursive;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#filters{
    color: var(--secondary-color);
    font-family: "American Typewriter", serif;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    margin-right: 25px;
}

/* js styling */

.book-review-entry {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / 3; 
}

.book-review-entry {
    margin-bottom: 50px;
}

.book-review-entry h2 {
    padding-left: 25px;
    transform: translateY(-2px); 
    font-size: 1.75em;
    color: var(--primary-color);
}

.book-review-entry img {
    padding-left: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px; 
    height: auto; 
}

.book-review-entry p { 
    color: var(--secondary-color);
    padding-left: 25px;
    padding-right: 25px;
}

.book-review-entry .details ul {
    display: flex;
    flex-direction: column;
    font-family: "American Typewriter", serif;
    font-size: 1.15em;
    color: var(--secondary-color);
    list-style: none;
    gap: 4px;
    padding-left: 0; 
    padding-right: 10px;
}

.book-review-entry .details {
    text-align: right;  
    border-right: 2px solid var(--accent); 
    margin-top: 15px; 
    padding-left: 25px;
} 

.book-review-entry a{
    border: none;
    background: transparent;
    color: var(--primary-color);
    text-decoration: none;
}
