:root {
    --page-color: #F3E8EE;
    --primary-color: #9E0031;
    --secondary-color: #02020B;
    --accent: #F9DC5C;
}

.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:1.5em;
    font-family: "American Typewriter", serif;
    color: var(--secondary-color);
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    margin-bottom: 50px;

}

nav{
    color: var(--primary-color);
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--primary-color);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.25em;

}

body {
    font-family: "Bradley Hand", cursive;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#filters{
    color: var(--secondary-color);
    font-family: "American Typewriter", serif;
    grid-column: 3;
    grid-row: 1 /  3;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    margin-right: 25px;
}

#reviews1 ul, #reviews2 ul{
    display: flex;
    flex-direction: column;
    font-family: "American Typewriter", serif;
    font-size: 1.15em;
    color: var(--secondary-color);
    list-style: none;
    gap: 4px;
    margin-right: 10px;
}

#reviews1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-right: 2px solid var(--accent);
    margin-bottom: 40px;
    text-align: right;
}

#reviews2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 2px solid var(--accent);
    text-align: right;
}

#book1, #book2{
    margin-bottom:50px;
    color: var(--primary-color);
}

#book1 h2, #book2 h2{
    padding-left: 25px;
    transform: translateY(-8px);
    font-size: 1.75em;
}

#book1 img, #book2 img{
    padding-left: 50px;
}

#book1 p, #book2 p{
    color: var(--secondary-color);
    padding-left: 25px;
}

#book1 img, #book2 img{
    display: block;
    margin:auto;

}

